<template name="about">
  <div class="about-page">
    <div class="about_hero">
      <div class="container">
        <div class="content">
          <h1>
            Join Project Reinvent<br />
            to improve Polytunes
          </h1>
          <h4>
            Project Reinvent is an initiative to bring new life to forgotten open-source projects.<br />
            We added new designs and features to Polytunes and are now waiting for more contributions.
          </h4>
          <button id="github-btn" type="button" onclick="window.open('https://github.com/ainize-team2/polytunes')">
            <img src="/images/ico-github-w.svg">
            GitHub repo
          </button>
        </div>
        <div class="content quote">
          <h4>
            “To have another team, from another part of the world, build new
            features for my project is something really heartwarming to see."
          </h4>
          <p>Andrew Lim</p>
          <p>open-source developer / author of Crowdy project</p>
        </div>
      </div>
    </div>
    <div class="about section">
      <div class="container">
        <div class="content">
          <h2>What is Polytunes</h2>
          <p>
            Polytunes is an interactive music pad that aims at creating a new kind of melodies by 
            collaborating without speaking to other players. The project was initially developed 
            by Clement Bourgoin and was submitted to the 2015 Meteor global Distributed Hackathon.<br/><br/>
            Polytunes makes music only using a Javascript library called Wad, a wrapper around 
            HTML5 WebAudio API, without utilizing flash or sound files.<br/><br/>
            <a
              target="_blank"
              href="https://devpost.com/software/polytunes"
            >
              Find more information about the original version of Polytunes
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="ainize section">
      <div class="container">
        <div class="content">
          <h2>What is Ainize</h2>
          <p>
            Ainize is a serverless cloud platform that helps developers to
            transform open-source projects into live services. To encourage the
            creation of innovative projects, deploying public GitHub
            repositories is free at Ainize. If your repo has a Dockerfile,
            you're just one click away from free deployments!
          </p>
          <div>
            <button id="ainize-btn" type="button" onclick="window.open('https://ainize.ai')">
              Visit Ainize Website
            </button>
            <button id="telegram-btn" type="button" onclick="window.open('https://t.me/projectreinvent')">
              <img src="/images/ico-telegram.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
