<template name="home">
  <div class="main home">
    <div class="hero">
      <h1>Play your notes<br />& collaborate with others</h1>
      <h4>Interactive music pad inspired by an electronic music device</h4>
    </div>
    <div class="button container">
      <a class="btn" href="{{pathFor 'join'}}">
        <img src="/images/ico-face-filled.svg" width="20" height="20" />
        <img src="/images/ico-question.svg" width="20" height="20" />
        {{_ "play-with-a-stranger"}}
      </a>
      <br />
      <a class="btn" href="{{pathFor 'create'}}">
        <img src="/images/ico-face-filled.svg" width="20" height="20" />
        <img src="/images/ico-face.svg" width="20" height="20" />
        {{_ "play-with-a-friend"}}
      </a>
      <br />
      <a class="btn" href="{{pathFor 'solo'}}">
        <img src="/images/ico-face-filled.svg" width="20" height="20" />
        {{_ "play-solo-offline"}}
      </a>
    </div>
    <div class="live container">
      <img src="/images/ico-music-note.svg" />
      {{numLivePlays}} collaborations played
    </div>
  </div>
</template>
