<template name="layout">
  <div class="layout">
    <div class="top-bar">
      <a href="{{pathFor 'home'}}">
        <h1>Polytunes</h1>
      </a>
      <div class="menu">
        <a href="{{pathFor 'home'}}">HOME</a>
        <a href="{{pathFor 'about'}}">ABOUT</a>
      </div>
    </div>

    {{> notifications}}

    {{> yield}}

    <div class="footer">
      <a href="https://ainize.ai" target="_blank">
        <img src="/images/ico-ainize-logo-tiny.svg"/>
        Powered by Ainize
      </a>
      <a href="https://github.com/ainize-team2/polytunes" target="_blank">
        <img src="/images/ico-github.svg"/>
        Contribute on Github
      </a>
    </div>
  </div>
</template>
