.notifications {
  bottom: 5px;
  right: 5px;
  position: absolute;
  text-align: right;
  z-index: 1000;

  .notification {
    padding-bottom: 5px;
  }
}

.popup {
  position: absolute;
  display: none;
  background: none;
  background-color: #352528;
  opacity: 0.9;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  top: 0;
  left: 50%;
  margin-top: 370px;
  margin-left: -360px;
  padding: 58px 50px;

  div {
    width: 200px;
    color: #FF6969;
  }
}

@media screen and (max-width: 1088px) {
  .popup {
    top: 50%;
    margin-top: -85px;
    margin-left: -150px;
  }
}

@media screen and (max-width: 945px) {
  .popup {
    top: 0;
    margin-top: 285px;
  }
}

@media screen and (max-width: 460px) {
  .popup {
    top: calc(50vh - 100px);
    left: calc(50vh - 150px);
    margin-left: 0;
    margin-top: 0;
  }
}