<template name="roomPlay">
  <div class="main centered">
    <div class="room play">
      {{#if notLogged}}
        {{> login}}
      {{else}}
        {{#if notEnoughPlayers}}
          {{> waitingForPlayers}}
        {{else}}
          <div class="container">
            {{> board}}
            {{> controls}}
          </div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>

<template name="waitingForPlayers">
  <div class="waiting">
    {{#if isPublic}}
      {{> waitingPublic}}
    {{else}}
      {{> waitingPrivate}}
    {{/if}}
  </div>
</template>

<template name="waitingPrivate">
  <div class="waiting_icon">
    <img src="/images/ico-face-filled.svg" />
    <img src="/images/ico-face.svg" />
  </div>
  <h2 class="title">invite your friend</h2>
  <input id="shareUrl" type="url" value="{{currentUrl}}" class="btn-large btn-inline" readonly>
  <p>Polytunes is a two-player game, and will start as soon as another player joins this room. You're in a private room, you can always bring someone. Send this page's URL to invite a friend, your neigbhour, your secret crush or your grandma — anyone can play Polytunes!</p>
    {{> share}}
</template>

<template name="waitingPublic">
  <div class="waiting_icon">
    <img src="/images/ico-face-filled.svg" />
    <img src="/images/ico-question.svg" />
  </div>
  <h2>waiting for another player</h2>
  <p>Polytunes is a two-player game, and will start as soon as another player joins this room. You're in a public room, maybe someone will eventually join in. But if not, you can always bring someone. Send this page's URL to invite a friend, your neigbhour, your secret crush or your grandma — anyone can play Polytunes!</p>
  {{> share}}
</template>

<template name="share">
  <div class="share">
    <button type="button" class="clipboard" data-clipboard-text="{{currentUrl}}">
      <img src="/images/ico-copy.svg" />
    </button>
    <button type="button" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}')">
      <img src="/images/ico-fb.svg" />
    </button>
    <button type="button" onclick="window.open('https://twitter.com/home?status={{currentUrl}}')">
      <img src="/images/ico-twitter.svg" />
    </button>
  </div>
</template>

<template name="board">
  <div class="board-container">
    {{> playerNames}}
    <table id="board">
      <tbody>
        {{#each rows}}
          <tr>
            {{#each .}}
          <td class="{{#if active}}active player_{{slot}}{{/if}}" data-id="{{id}}" data-frequency="{{frequency}}" style="width:{{size}}px;height:{{size}}px;background:{{color}} !important;"></td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{> playerColors}}
    <div class="popup"><div></div></div>
  </div>
</template>

<template name="playerNames">
  <div class="player-names">
    {{#each players}}
      <div class="player player_{{@index}} user_{{userId}}" data-slot={{@index}}>
        <div>
          {{#if @index}}
            {{ name }}
            <img src="/images/ico-face.svg" />
          {{else}}
            <img src="/images/ico-face-filled.svg" />
            {{ name }}
          {{/if}}
        </div>
        <div class="player-color" style="background-color:{{color}};"></div>
      </div>
    {{/each}}
  </div>
</template>

<template name="playerColors">
  <div class="player-colors">
    {{#each players}}
      <span class="player-color player_{{@index}} user_{{userId}}" data-slot={{@index}} style="background-color: {{color}};"></span>
    {{/each}}
  </div>
</template>

<template name="controls">
  <div class="controls">
    <button id="play"><i class="fa fa-{{playButtonIcon}}"></i>Music Play</button>
    {{#unless isSolo}}
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 30 24">
        <rect class="eq-bar eq-bar--1" x="4" y="4" width="4" height="8"/>
        <rect class="eq-bar eq-bar--2" x="10.2" y="4" width="4" height="16"/>
        <rect class="eq-bar eq-bar--3" x="16.3" y="4" width="4" height="11"/>
        <rect class="eq-bar eq-bar--4" x="22.4" y="4" width="4" height="11"/>
      </svg>
      {{numObservers}} audience here.
    </div>
    {{/unless}}
    <h3>
      invite more audience
    </h3>
    <p>
      You can always bring someone.<br/>Send this page's URL to invite a friend, your neigbhour, your secret crush or your grandma — anyone can play Polytunes!
    </p>
    {{> share}}
  </div>
</template>