<template name="roomPlay">
  <div class="main centered">
    <div class="room play">
      {{#if notLogged}}
        {{> login}}
      {{else}}
        {{#if notEnoughPlayers}}
          {{> waitingForPlayers}}
        {{else}}
          {{> board}}
          {{> players}}
          {{> controls}}
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>

<template name="waitingForPlayers">
  {{#if isPublic}}
    {{> waitingPublic}}
  {{else}}
    {{> waitingPrivate}}
  {{/if}}
</template>

<template name="waitingPrivate">
  <div class="waiting_icon">
    <img src="/images/ico-face-filled.svg" />
    <img src="/images/ico-face.svg" />
  </div>
  <h2 className="title">invite your friend</h2>
  <input id="shareUrl" type="url" value="{{currentUrl}}" class="btn-large btn-inline" readonly>
  <p>Polytunes is a two-player game, and will start as soon as another player joins this room. You're in a private room, you can always bring someone. Send this page's URL to invite a friend, your neigbhour, your secret crush or your grandma — anyone can play Polytunes!</p>
    {{> share}}
</template>

<template name="waitingPublic">
  <div class="waiting_icon">
    <img src="/images/ico-face-filled.svg" />
    <img src="/images/ico-question.svg" />
  </div>
  <h2>waiting for another player</h2>
  <p>Polytunes is a two-player game, and will start as soon as another player joins this room. You're in a public room, maybe someone will eventually join in. But if not, you can always bring someone. Send this page's URL to invite a friend, your neigbhour, your secret crush or your grandma — anyone can play Polytunes!</p>
  {{> share}}
</template>

<template name="share">
  <div class="share">
    <button type="button" class="clipboard" data-clipboard-text="{{currentUrl}}">
      <img src="/images/ico-link.svg" />
    </button>
    <button type="button" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}')">
      <img src="/images/ico-fb.svg" />
    </button>
    <button type="button" onclick="window.open('https://twitter.com/home?status={{currentUrl}}')">
      <img src="/images/ico-twitter.svg" />
    </button>
  </div>
</template>

<template name="board">
  <table id="board">
    <tbody>
      {{#each rows}}
        <tr>
          {{#each .}}
            <td class="{{#if active}}active player_{{slot}}{{/if}}" data-id="{{id}}" data-frequency="{{frequency}}" style="width:{{size}}px;height:{{size}}px;"></td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>

<template name="players">
  <div class="player-list">
    {{#each players}}
      <span class="player player_{{@index}} user_{{userId}}" data-slot={{@index}}>{{ name }}</span>
    {{/each}}
  </div>
</template>

<template name="controls">
  <div class="controls">
    <button id="play"><i class="fa fa-{{playButtonIcon}}"></i></button>
  </div>
</template>
